<div data-role="view" id="accountDetailView" data-title="ACCOUNT SNAPSHOT" data-align="left" data-init="getAcctDetail" >
	<header data-role="header">
		<div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
		</div>
	</header>
    
    <div id="HouseholdProfileViewContent" data-role="content">
        <!--<div id="grid"></div>-->
        
        <div>
            <ul data-role="listview" data-style="inset" data-type="group">
                <li>
                    Demographic Information
                    <ul data-role="listview" data-style="inset">
                        <li>
                            <div id="hhProfileListGrid"></div>
                        </li>
                    </ul>
                </li>
         
                <li>
                    Accounts Information
                    <ul data-role="listview" data-style="inset">  
                        <!--<li>
                            <h3>Internal Accounts</h3>
                            <div id="hhProfileIntAcctGrid"></div>                      
                        </li>
                        <li>
                             <h3>External Accounts</h3>                             
                             <div id="hhProfileExtAcctGrid"></div>
                        </li>-->
                        <li>
                               <div id="hhAccountInfo"></div>
                        </li>
                    </ul>
                    
                 </li>
            </ul>
        </div>
	</div>
</div>