<div data-role="view" id="fileView" data-title="My Files" data-align="left" data-show="getFileSystem">
	<header data-role="header">
		<div data-role="navbar">
            <!--<a data-role="backbutton" data-align="left" href="#" id="backBtn">Back</a>-->
            <a data-role="backbutton" data-align="left" id="backBtn" href="#fileView">Back</a>
            
            <span data-role="view-title"></span>
		</div>
        
	</header>
    <!--<div id="fileContent" class="demo-section" data-role="content">
        <ul id="treeview">
            <li data-expanded="true">
                <span class='k-sprite folder'></span>Backups
                <ul>
                    <li><span class='k-sprite'></span>Plugins</li>
                </ul>
             </li>
        </ul>	
        
	</div>-->
    <p></p>
        
    
    
    <div class="ui-grid-c" id="dirContent">
	  <!-- <div class="ui-block-a">
		    <div class="folder"><p>folder name</p></div>
	   </div>
    	<div class="ui-block-b">
    		<div class="folder"> <p>folder name</p></div>
    	</div>
    	<div class="ui-block-c">
    		<div class="folder"><p>folder name</p></div>
    	</div>
    	<div class="ui-block-d">
    		<div class="folder"><p>folder name</p></div>
    	</div>

    	<div class="ui-block-a">
    		<div class="file"><p>file name</p></div>
    	</div>
    	<div class="ui-block-b">
    		<div class="file"><p>file name</p></div>
    	</div>
    	<div class="ui-block-c">
    		<div class="file"><p>file name</p></div>
    	</div>
    	<div class="ui-block-d">
    		<div class="file"><p>file name</p></div>
    	</div>-->
    </div>
    
    <div id="fileField" type="text" readonly="readonly"></div>
    
    <a id="menu" href="#menuOptions" data-rel="dialog">file details</a>
            <a id="get_file_details" href="#fileDetails" data-rel="dialog">file details</a>
</div>